@import "/src/styles.scss";

header{
    background: $white-dark;
    padding: 0;
    white-space: nowrap;
}

.menu{
    background-color: red;
    padding: 10px;
}

a{
    font-size: calc(.5em + 0.4vw);
    font-weight: 500;
    color: $gray;
    margin-left: calc(.5em + 0.2vw);
}

a:hover{
    background: $main-color;
    color: white;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    margin: 0;
  }
  
.menuitem{
    padding: 1em;
    display: inline-block;
  }