<header>
    <div class="container">
      <a href="#" routerLink="/" class="logo">Bora?</a>
        <nav>
          <ul>
            <li>
              <a class="menuitem" href="#" rourterLink="/sobrenos-page">Sobre nós</a>
              <a class="menuitem" href="#" rourterLink="/comunidade-page">Comunidade</a>
              <a class="menuitem" href="#" rourterLink="/meuperfil-page">Meu Perfil</a>
              <a class="button" (click)="CreateActivityPage()">Criar evento</a>
            </li>
          </ul>
        </nav>
    </div>
  </header>
  
