@import "/src/styles.scss";


  .listContainer{
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0vw 5vw 1vw 5vw;
    
  }

  
  .item{
    display: inline-block;
    justify-content: center;
    text-align: center;
    min-width: 90px;
    max-width: 90px;

    .tagText{
      color: black;
      white-space: pre-wrap;
        }
}

.item:first-child {
  margin-left: auto;
}

.item:last-child {
  margin-right: auto;
}

  @media screen and (min-width: 1000px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }
    ::-webkit-scrollbar {
      height: 10px;
      //background-color: $main-color;
      
    }

    ::-webkit-scrollbar-thumb{
      background-color: $main-color;
    }

img{
    width: calc(2.5em + 0.5vw);
    }

   