@import "/src/styles.scss";

li{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

li input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: calc(20em + 20vw);
    background-color: white;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

div{
    background-color: white;
    border-radius: 0 10rem 10rem 0;
}

div button {
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 20rem;
    border: none;
    background-color: $main-color;
    color: white;
    opacity: 0.8;
    outline: none;
}

div button:hover{
    opacity: 1;
    cursor: pointer;
}