<div class="titleContainer">
  <span class="title">
    Encontre um Grupo de Amigos
  </span>
</div>
<!-- <div
    *ngIf="isMobile"
    style="background-color: red;">
    <span>AAAAAAAAAAAAAAAA</span>
</div> -->
<app-search></app-search>
<!-- <app-tag-bar></app-tag-bar> -->
<app-all-tags-bar></app-all-tags-bar>
<div *ngIf="activities$ | async as activities">
  <app-activity-list [activities] = "activities"></app-activity-list>
</div>

<!-- <ul>
  <li *ngFor="let activity of (activities$ | async) as activities">
      <a>
        <div class="hover-div">
          <img src="{{activity.media_url}}" alt="">
        </div>
        <div class="content">
          <div class="name">
            {{activity.caption}}
          </div>
          <span class="favorite {{activity.favorite?'':'not'}}">
            ❤
          </span>
          <div class="tagList">
            <div class="tag" *ngFor="let tag of activity.tags">
              <span>{{tag}}</span>
            </div>
          </div>
        </div>
      </a>
  </li>
</ul>  -->