@import "/src/styles.scss";



.title{
    max-width: clamp(3rem, 100vw, 100rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw 15vw 0rem 15vw;
    text-align: center;
    font-size: clamp(3rem, 7vw, 5.5rem);
    font-weight: 900;
}

.favorite.not{
    color: gray;
}

.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.tagList{
    flex-grow: 1;
    display: flex;
    overflow-x:auto;
    .tag{
        width: fit-content;
        border-radius: 10px;
        background-color: $main-color;
        display: flex;
        text-align: center;
    
        span{
          white-space: nowrap;
          color: black;
        }
      }
}
